XDAI_RPC_URL=https://rpc.xdaichain.com/gbc,https://rpc.gnosischain.com
PUBLIC_IP=x.x.x.x
TRUSTED_PEERS=16Uiu2HAmMqSvpivqu3XpWSF2xR2d2gp148dduj3wAnn5rAZSWox6,16Uiu2HAm87g95Uj4GxjRptm4VXDT9beqtmWLLzTy3ZBx2h5sX4BA,16Uiu2HAm6pnkdRayyhFyv48UTxtbXcDfUYB8nm5v8UQ38EpqtMDc,16Uiu2HAmUrJQm5tD88e1Vcjw8ETN8hcdAGfAKz9n7bucbwvVmVBc,16Uiu2HAmNgsrKxfNjuYnsrfkDqHgjArp7TfCUX2mk7po7MFzkzhR,16Uiu2HAkvmtsmvg9p2Ybw5LCjwyfE7wJ3jS9BDgujgQ7epEjoFUB,16Uiu2HAmSSbLF4Z4BFA7gQckRk9P3R8puyWuQH9rniofBGWVVd6c,16Uiu2HAmBcDumkLfthiHV6VMhNeYyR342bybGv5tvpnjvPtKqeuR,16Uiu2HAmKKK4bEe7F8oZyDqjQHUAdMRKVw7gQtDUxVzG5EnycbRZ,16Uiu2HAm4yMA92zkM9mEeAuk2FugRYjS9XrSBN2kmSAKdHdsjbbY,16Uiu2HAmM6ugtqorWpFP24mAzQGDVpEnx3Koenwcz8XAPJDVvXdx,16Uiu2HAmFQ1uewyYXYBskUDbp1QiiFLYY5GW1pTXGanG1fZDYHJe,16Uiu2HAkxRwAbYUjAaXiepGKs2Z6HhsuLYmDJSanFuNogXWzodZM,16Uiu2HAkzuAbej1FvpJumpjpsycvctXwHMf3LQMuy7VT6tu8E72X,16Uiu2HAmFi7u6ybKmU9AorhGfe8tSzpKbvoRkYHcwCRMoWYNLtsY,16Uiu2HAkvebjtXGMmfupCP7hxmh4kK2RYcpxzZdAAFXnsHHZBYec
TARGET_PEERS=80
LOG_LEVEL=info
